// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Alegreya Sans SC',sans-serif;} // font header
.fs {font-family: 'Titillium Web',sans-serif;} // font special

.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #545454;
@c2: #004483;
@c3: #9f1e87;
@c4: #e50076;
@c5: #bbe4f9;
@c6: #e5f2f9;

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// form
@input-size: 14px;
@input-height: 40px;
@input-padding: 15px;
@input-border: #999;
@input-bg: #fff;

// layout
@content-width: 1150px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 15px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1200px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(min-width: 480px) and (max-width: 767px)";
@xxs: ~"(max-width: 479px)";