@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?9sglek');
  src:  url('fonts/icons.eot?9sglek#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?9sglek') format('truetype'),
    url('fonts/icons.woff?9sglek') format('woff'),
    url('fonts/icons.svg?9sglek#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkbox-blank:before {
  content: "\30";
}
.icon-checkbox:before {
  content: "\31";
}
.icon-radio:before {
  content: "\32";
}
.icon-radio2:before {
  content: "\33";
}
.icon-logo:before {
  content: "\34";
}
.icon-injection:before {
  content: "\35";
}
.icon-menu:before {
  content: "\36";
}
.icon-close:before {
  content: "\37";
}
.icon-arr-left:before {
  content: "\38";
}
.icon-arr-right:before {
  content: "\39";
}
.icon-arr-up:before {
  content: "\61";
}
.icon-arr-down:before {
  content: "\62";
}
.icon-home:before {
  content: "\63";
}
.icon-apps:before {
  content: "\64";
}
.icon-chat:before {
  content: "\65";
}
.icon-user:before {
  content: "\66";
}
.icon-trophy:before {
  content: "\67";
}
.icon-medkit:before {
  content: "\68";
}
.icon-like:before {
  content: "\69";
}
.icon-more:before {
  content: "\6a";
}
.icon-film:before {
  content: "\6b";
}
.icon-youtube:before {
  content: "\6c";
}
.icon-star:before {
  content: "\6d";
}
.icon-star-half:before {
  content: "\6e";
}
.icon-star-blank:before {
  content: "\6f";
}
.icon-search:before {
  content: "\70";
}
.icon-questionmark:before {
  content: "\3f";
}
.icon-bubble:before {
  content: "\71";
}

