@import "variables";

@font-face {
  font-family: 'icons';
  src:  url('@{icomoon-font-path}/icons.eot?9sglek');
  src:  url('@{icomoon-font-path}/icons.eot?9sglek#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/icons.ttf?9sglek') format('truetype'),
    url('@{icomoon-font-path}/icons.woff?9sglek') format('woff'),
    url('@{icomoon-font-path}/icons.svg?9sglek#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkbox-blank {
  &:before {
    content: @icon-checkbox-blank;
  }
}
.icon-checkbox {
  &:before {
    content: @icon-checkbox;
  }
}
.icon-radio {
  &:before {
    content: @icon-radio;
  }
}
.icon-radio2 {
  &:before {
    content: @icon-radio2;
  }
}
.icon-logo {
  &:before {
    content: @icon-logo;
  }
}
.icon-injection {
  &:before {
    content: @icon-injection;
  }
}
.icon-menu {
  &:before {
    content: @icon-menu;
  }
}
.icon-close {
  &:before {
    content: @icon-close;
  }
}
.icon-arr-left {
  &:before {
    content: @icon-arr-left;
  }
}
.icon-arr-right {
  &:before {
    content: @icon-arr-right;
  }
}
.icon-arr-up {
  &:before {
    content: @icon-arr-up;
  }
}
.icon-arr-down {
  &:before {
    content: @icon-arr-down;
  }
}
.icon-home {
  &:before {
    content: @icon-home;
  }
}
.icon-apps {
  &:before {
    content: @icon-apps;
  }
}
.icon-chat {
  &:before {
    content: @icon-chat;
  }
}
.icon-user {
  &:before {
    content: @icon-user;
  }
}
.icon-trophy {
  &:before {
    content: @icon-trophy;
  }
}
.icon-medkit {
  &:before {
    content: @icon-medkit;
  }
}
.icon-like {
  &:before {
    content: @icon-like;
  }
}
.icon-more {
  &:before {
    content: @icon-more;
  }
}
.icon-film {
  &:before {
    content: @icon-film;
  }
}
.icon-youtube {
  &:before {
    content: @icon-youtube;
  }
}
.icon-star {
  &:before {
    content: @icon-star;
  }
}
.icon-star-half {
  &:before {
    content: @icon-star-half;
  }
}
.icon-star-blank {
  &:before {
    content: @icon-star-blank;
  }
}
.icon-search {
  &:before {
    content: @icon-search;
  }
}
.icon-questionmark {
  &:before {
    content: @icon-questionmark;
  }
}
.icon-bubble {
  &:before {
    content: @icon-bubble;
  }
}

