@icomoon-font-path: "../icons/fonts";

@icon-checkbox-blank: "\30";
@icon-checkbox: "\31";
@icon-radio: "\32";
@icon-radio2: "\33";
@icon-logo: "\34";
@icon-injection: "\35";
@icon-menu: "\36";
@icon-close: "\37";
@icon-arr-left: "\38";
@icon-arr-right: "\39";
@icon-arr-up: "\61";
@icon-arr-down: "\62";
@icon-home: "\63";
@icon-apps: "\64";
@icon-chat: "\65";
@icon-user: "\66";
@icon-trophy: "\67";
@icon-medkit: "\68";
@icon-like: "\69";
@icon-more: "\6a";
@icon-film: "\6b";
@icon-youtube: "\6c";
@icon-star: "\6d";
@icon-star-half: "\6e";
@icon-star-blank: "\6f";
@icon-search: "\70";
@icon-questionmark: "\3f";
@icon-bubble: "\71";

